.header-wrapper {
  padding: 2rem 3rem;
  position: absolute;
  width: 100%;
  z-index: 2;
  
  @media screen and (max-width:576px) {
    & {
      padding: 1rem 2rem;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  svg {
    fill: $red;
    height: 2.25rem;
    @media screen and (max-width: 567px) {
      & {
        height: 1.5rem;
      }
    }
  }

  .sign-in {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lang {
      margin-right: 20px;
      @media screen and (max-width:576px) {
        &{
          margin-right: 10px;
        }
      }
    }

    select {
      padding: 0.5rem 1rem;
      border: 1px solid #aaa;
      position: relative;
      background-color: transparent;
      color: $white;
      @media screen and (max-width:576px) {
        & {
          padding: 0.3rem 0.6rem;
        }
      }
    }

    a {
      text-decoration: none;
      background-color: $red;
      color: $white;
      padding: 0.5rem 1rem;
      border: 1px solid $red;
      border-radius: 5px;
      @media screen and (max-width:576px) {
        & {
          padding: 0.3rem 0.6rem;
        }
      }
    }
  }
}
