section {
  background-color: $black;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  color: $white;

  @media screen and (max-width:1400px) {
    max-width: 75%;
  }
  @media screen and (max-width:1200px) {
    max-width: 80%;
  }
  @media screen and (max-width:992px) {
    max-width: 90%;
  }
  @media screen and (max-width:768px) {
    flex-direction: column-reverse;
    text-align: center;
  }
  
  .left {
    flex-basis: 100%;
    padding: 3rem 0 3rem 0;
    @media screen and (max-width:768px) {
      padding-top: 0;
    }
    img {
      max-width: 100%;
    }
  }

  .right {
    padding: 3rem 0 3rem 0;
    flex-basis: 100%;
  }

  h1,
  .faq h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    @media screen and (max-width:992px) {
      font-size: 2.7rem;
    }
    @media screen and (max-width:567px) {
      font-size: 2.3rem;
    }
    @media screen and (max-width:576px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 500;
    @media screen and (max-width:992px) {
      font-size: 1.25rem;
    }
    @media screen and (max-width:576px) {
      font-size: 1.125rem;
    }
  }

}